/* SearchBar.css */
.search-bar {
  display: flex;
  align-items: center;
  max-width: 400px;
  margin: 2rem auto;
  padding: 5px;
  border: 2px solid purple;
  border-radius: 20px;
}

input[type="text"] {
  flex: 1;
  border: none;
  padding: 8px;
  font-size: 22px;
  border-radius: 20px;
  outline: none;
}

.search-btn{
  background-color: #512B81;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  background-color: #0056b3;
}
